<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
</head>
<body>
<!--

permit template

-->
<!-- ###PERMIT_LATEST_VIEW### begin -->
<div class="latest">
	<div class="records-available">
	<!-- ###RECORDS_AVAILABLE### -->
	<!-- ###HAS_MAPS### -->
	<div class="google_maps">###GOOGLE_MAPS###</div>
	<!-- / ###HAS_MAPS### -->
	<ul class="available-records">
		<!-- ###RECORDS### begin -->
		<li>###FIELD_WEEK### (###FIELD_PUBLISHDATE###): <a href="###FIELD_LINK###">###FIELD_PRODUCTTYPE### ###FIELD_ADDRESS###</a></li>
		<!-- ###RECORDS### end -->
	</ul>
	<!-- ###RECORDS_AVAILABLE### -->
	</div>
</div>
<!-- ###PERMIT_LATEST_VIEW### end -->

<!-- ###PERMIT_LIST_VIEW### begin -->
<div class="list">
 <!-- ###FILTER### begin -->
	<div class="###EXTKEYSHORT###_filter_topbox">
		<!-- ###DATE_FILTER### begin -->
		<ul class="years">
			<!-- ###YEARS### begin -->
			<li class="year_###ACTIVE###">###YEAR###</li>
			<!-- ###YEARS### end -->
		</ul>
		<ul class="months">
			<!-- ###MONTHS### begin -->
			<li class="month_###ACTIVE###">###MONTH###</li>
			<!-- ###MONTHS### end -->
		</ul>
		<!-- ###TEMPLATE_COMMENT### -->
		<ul class="weeks">
			<!-- ###WEEKS### begin -->
			<li class="week_###ACTIVE###">###WEEK###</li>
			<!-- ###WEEKS### end -->
		</ul>
		<!-- ###TEMPLATE_COMMENT### -->
		<!-- ###DATE_FILTER### end -->
	</div>
	<div class="###EXTKEYSHORT###_filter_sidebox">
		<form action="###ACTION###" method="POST" class="filter-sidebox-form">
		<fieldset><ul>
			<!-- ###FULLTEXT_FILTER### begin -->
			<li class="searchFullText">
					<input type="hidden" name="no_cache" value="1" />
					<input type="text" class="text" name="###EXTKEYSHORT###_controller[fulltext]" value="###VALUE###" />
			</li>
			<!-- ###FULLTEXT_FILTER### end -->
			<!-- ###PRODUCT_TYPE_FILTER### begin -->
			<li class="productType">
				<select class="select" name="###EXTKEYSHORT###_controller[productType]">
					<!-- ###PRODUCT_TYPES### begin -->
					<option value="###VALUE###" ###SELECTED###>###TITLE###</option>
					<!-- ###PRODUCT_TYPES### end -->
				</select>
			</li>
			<!-- ###PRODUCT_TYPE_FILTER### end -->
			<!-- ###PHASE_FILTER### begin -->
			<li class="phase">
				<span>Fase:</span>
				<!-- ###PHASE_OPTIONS### begin -->
				<label for="###ID###">###TITLE###</label>
				<input type="checkbox" name="###EXTKEYSHORT###_controller[phase][###NAME###]" value="1" class="check" id="###ID###" ###CHECKED### />
				<!-- ###PHASE_OPTIONS### end -->
			</li>
			<!-- ###PHASE_FILTER### end -->
			<!-- ###TERMTYPE_FILTER### begin -->
			<li class="termType">
				<select  class="select" name="###EXTKEYSHORT###_controller[termType]">
					<!-- ###TERM_TYPES### begin -->
					<option value="###VALUE###" ###SELECTED###>###TITLE###</option>
					<!-- ###TERM_TYPES### end -->
				</select>
			</li>
			<!-- ###TERMTYPE_FILTER### end -->
			<!-- ###POSTCODE_FILTER### begin -->
			<li class="searchPostCode">
					<input type="hidden" name="no_cache" value="1" />
					<label>###LABEL###: </label>
					<input type="text" class="num text" name="###EXTKEYSHORT###_controller[postcodeNum]" value="###NUM_VALUE###" />
					<input type="text" class="alpha text" name="###EXTKEYSHORT###_controller[postcodeAlpha]" value="###ALPHA_VALUE###" />
					<label for="radius">###LABEL_RADIUS###:</label> 
					<select class="select" id="radius" name="###EXTKEYSHORT###_controller[radius]">
						<!-- ###OPTIONS### begin -->
						<option value="###OPTION_VALUE###" ###OPTION_SELECTED###>###OPTION_TEXT###</option>
						<!-- ###OPTIONS### end -->
					</select>
			</li>
			<!-- ###POSTCODE_FILTER### end -->
			<input class="submit" type="submit" value="###LABEL_SUBMIT###" />
		</ul></fieldset>
		</form>
	</div>
	<!-- ###FILTER### end -->

	<div class="records-available">
	<!-- ###RECORDS_AVAILABLE### -->
	<!-- ###HAS_MAPS### -->
	<div class="google_maps">###GOOGLE_MAPS###</div>
	<!-- / ###HAS_MAPS### -->
	<ul class="available-records">
		<!-- ###RECORDS### begin -->
		<li>###FIELD_WEEK### (###FIELD_PUBLISHDATE###): <a href="###FIELD_LINK###">###FIELD_PRODUCTTYPE### ###FIELD_ADDRESS###</a></li>
		<!-- ###RECORDS### end -->
	</ul>
	<!-- ###RECORDS_AVAILABLE### -->
	</div>
</div>
<!-- ###PERMIT_LIST_VIEW### end -->

<!-- ###PERMIT_DETAIL_VIEW### begin -->
<div class="detail-view">
	<!-- ###DETAILS### -->
	<h3>###FIELD_PRODUCTTYPE###</h3>
	<div class="detail">
		<!-- ###HAS_CASEREFERENCE### -->
		<dl class="detail-casereference">
			<dt class="detail-label"><strong>###LABEL_FIELDHEADER_CASEREFERENCE###</strong></dt>
			<dd class="detail-field"><strong>###FIELD_CASEREFERENCE###</strong></dd>
		</dl>
		<!-- ###HAS_CASEREFERENCE### -->
		<!-- ###HAS_CASEREFERENCE_PUB### -->
		<dl class="detail-casereference">
			<dt class="detail-label"><strong>###LABEL_FIELDHEADER_CASEREFERENCE###</strong></dt>
			<dd class="detail-field"><strong>###FIELD_CASEREFERENCE_PUB###</strong></dd>
		</dl>
		<!-- ###HAS_CASEREFERENCE_PUB### -->
		<!-- ###HAS_DESCRIPTION### -->
		<dl class="detail-field-description">
			<dt class="detail-label"><strong>###LABEL_FIELDHEADER_DESCRIPTION###</strong></dt>
			<dd class="detail-field"><strong>###FIELD_DESCRIPTION###</strong></dd>
		</dl>
		<!-- ###HAS_DESCRIPTION### -->
		<!-- ###HAS_PUBLICATIONBODY### -->
		<dl class="detail-field-publicationbody">
			<dt class="detail-label"><strong>###LABEL_FIELDHEADER_PUBLICATIONBODY###</strong></dt>
			<dd class="detail-field"><strong>###FIELD_PUBLICATIONBODY###</strong></dd>
		</dl>
		<!-- ###HAS_PUBLICATIONBODY### -->
		<!-- ###HAS_PUBLICATION### -->
		<dl class="detail-publication">
			<dt class="detail-label"><strong>###LABEL_FIELDHEADER_PUBLICATION###</strong></dt>
			<dd class="detail-field"><strong>###FIELD_PUBLICATION###</strong></dd>
		</dl>
		<!-- ###HAS_PUBLICATION### -->
		<!-- ###HAS_TSTAMP### -->
		<dl class="detail-tstamp">
			<dt class="detail-label">###LABEL_FIELDHEADER_TSTAMP###</dt>
			<dd class="detail-field">###FIELD_TSTAMP###</dd>
		</dl>
		<!-- ###HAS_TSTAMP### -->
		<!-- ###HAS_PHASE### -->
		<dl class="detail-phase">
			<dt class="detail-label">###LABEL_FIELDHEADER_PHASE###</dt>
			<dd class="detail-field">###FIELD_PHASE###</dd>
		</dl>
		<!-- ###HAS_PHASE### -->
		<!-- ###HAS_PRODUCTTYPE### -->
		<dl class="detail-producttype">
			<dt class="detail-label">###LABEL_FIELDHEADER_PRODUCTTYPE###</dt>
			<dd class="detail-field">###FIELD_PRODUCTTYPE###</dd>
		</dl>
		<!-- ###HAS_PRODUCTTYPE### -->
		<!-- ###HAS_PRODUCTACTIVITIES### -->
		<dl class="detail-productactivities">
			<dt class="detail-label">###LABEL_FIELDHEADER_PRODUCTACTIVITIES###</dt>
			<dd class="detail-field">###FIELD_PRODUCTACTIVITIES###</dd>
		</dl>
		<!-- ###HAS_PRODUCTACTIVITIES### -->
		<!-- ###HAS_VALIDITY_START### -->
		<dl class="detail-validity-start">
			<dt class="detail-label">###LABEL_FIELDHEADER_VALIDITY_START###</dt>
			<dd class="detail-field">###FIELD_VALIDITY_START###</dd>
		</dl>
		<!-- ###HAS_VALIDITY_START### -->
		<!-- ###HAS_VALIDITY_END### -->
		<dl class="detail-validity-end">
			<dt class="detail-label">###LABEL_FIELDHEADER_VALIDITY_END###</dt>
			<dd class="detail-field">###FIELD_VALIDITY_END###</dd>
		</dl>
		<!-- ###HAS_VALIDITY_END### -->
		<!-- ###HAS_TERMTYPE### -->
		<dl class="detail-termtype">
			<dt class="detail-label">###LABEL_FIELDHEADER_TERMTYPE###</dt>
			<dd class="detail-field">###FIELD_TERMTYPE###</dd>
		</dl>
		<!-- ###HAS_TERMTYPE### -->
		<!-- ###HAS_TERMTYPE_START### -->
		<dl class="detail-termtype-start">
			<dt class="detail-label">###LABEL_FIELDHEADER_TERMTYPE_START###</dt>
			<dd class="detail-field">###FIELD_TERMTYPE_START###</dd>
		</dl>
		<!-- ###HAS_TERMTYPE_START### -->
		<!-- ###HAS_TERMTYPE_END### -->
		<dl class="detail-termtype-end">
			<dt class="detail-label">###LABEL_FIELDHEADER_TERMTYPE_END###</dt>
			<dd class="detail-field">###FIELD_TERMTYPE_END###</dd>
		</dl>
		<!-- ###HAS_TERMTYPE_END### -->
		<!-- ###HAS_COMPANY_INFO### -->
		<!-- ###HAS_COMPANY### -->
		<dl class="detail-company">
			<dt class="detail-label">###LABEL_FIELDHEADER_COMPANY###</dt>
			<dd class="detail-field">###FIELD_COMPANY###</dd>
		</dl>
		<!-- ###HAS_COMPANY### -->
		<!-- ###HAS_COMPANYNUMBER### -->
		<dl class="detail-company-number">
			<dt class="detail-label">###LABEL_FIELDHEADER_COMPANYNUMBER###</dt>
			<dd class="detail-field">###FIELD_COMPANYNUMBER###</dd>
		</dl>
		<!-- ###HAS_COMPANYNUMBER### -->
		<!-- ###HAS_COMPANYADDRESS### -->
		<dl class="detail-company-address">
			<dt class="detail-label">###LABEL_FIELDHEADER_COMPANYADDRESS###</dt>
			<dd class="detail-field">###FIELD_COMPANYADDRESS###</dd>
		</dl>
		<!-- ###HAS_COMPANYADDRESS### -->
		<!-- ###HAS_COMPANYADDRESSNUMBER### -->
		<dl class="detail-company-addressnumber">
			<dt class="detail-label">###LABEL_FIELDHEADER_COMPANYADDRESSNUMBER###</dt>
			<dd class="detail-field">###FIELD_COMPANYADDRESSNUMBER###</dd>
		</dl>
		<!-- ###HAS_COMPANYADDRESSNUMBER### -->
		<!-- ###HAS_COMPANYZIPCODE### -->
		<dl class="detail-company-zipcode">
			<dt class="detail-label">###LABEL_FIELDHEADER_COMPANYZIPCODE###</dt>
			<dd class="detail-field">###FIELD_COMPANYZIPCODE###</dd>
		</dl>
		<!-- ###HAS_COMPANYZIPCODE### -->
		<!-- ###HAS_COMPANY_INFO### -->
		<!-- ###HAS_OBJECTREFERENCE### -->
		<dl class="detail-objectreference">
			<dt class="detail-label">###LABEL_FIELDHEADER_OBJECTREFERENCE###</dt>
			<dd class="detail-field">###FIELD_OBJECTREFERENCE###</dd>
		</dl>
		<!-- ###HAS_OBJECTREFERENCE### -->
		<!-- ###ADDRESSES### -->
		<!-- ###HAS_ZIPCODE### -->
		<dl class="detail-zipcode">
			<dt class="detail-label">###LABEL_FIELDHEADER_ZIPCODE###</dt>
			<dd class="detail-field">###FIELD_ZIPCODE###</dd>
		</dl>
		<!-- ###HAS_ZIPCODE### -->
		<!-- ###HAS_ADDRESSNUMBER### -->
		<dl class="detail-addressnumber">
			<dt class="detail-label">###LABEL_FIELDHEADER_ADDRESSNUMBER###</dt>
			<dd class="detail-field">###FIELD_ADDRESSNUMBER###</dd>
		</dl>
		<!-- ###HAS_ADDRESSNUMBER### -->
		<!-- ###HAS_ADDRESSNUMBERADDITIONAL### -->
		<dl class="detail-addressnumber-additional">
			<dt class="detail-label">###LABEL_FIELDHEADER_ADDRESSNUMBERADDITIONAL###</dt>
			<dd class="detail-field">###FIELD_ADDRESSNUMBERADDITIONAL###</dd>
		</dl>
		<!-- ###HAS_ADDRESSNUMBERADDITIONAL### -->
		<!-- ###HAS_ADDRESS### -->
		<dl class="detail-address">
			<dt class="detail-label">###LABEL_FIELDHEADER_ADDRESS###</dt>
			<dd class="detail-field">###FIELD_ADDRESS###</dd>
		</dl>
		<!-- ###HAS_ADDRESS### -->
		<!-- ###HAS_CITY### -->
		<dl class="detail-city">
			<dt class="detail-label">###LABEL_FIELDHEADER_CITY###</dt>
			<dd class="detail-field">###FIELD_CITY###</dd>
		</dl>
		<!-- ###HAS_CITY### -->
		<!-- ###HAS_MUNICIPALITY### -->
		<dl class="detail-municipality">
			<dt class="detail-label">###LABEL_FIELDHEADER_MUNICIPALITY###</dt>
			<dd class="detail-field">###FIELD_MUNICIPALITY###</dd>
		</dl>
		<!-- ###HAS_MUNICIPALITY### -->
		<!-- ###HAS_PROVINCE### -->
		<dl class="detail-province">
			<dt class="detail-label">###LABEL_FIELDHEADER_PROVINCE###</dt>
			<dd class="detail-field">###FIELD_PROVINCE###</dd>
		</dl>
		<!-- ###HAS_PROVINCE### -->
		<!-- ###ADDRESSES### -->
		<!-- ###HAS_MAPS### -->
		<div class="google_maps">###GOOGLE_MAPS###</div>
		<!-- ###HAS_MAPS### -->
		<!-- ###LOTS### -->
		<!-- ###HAS_CADASTREMUNICIPALITY### -->
		<dl class="detail-cadastre-municipality">
			<dt class="detail-label">###LABEL_FIELDHEADER_CADASTREMUNICIPALITY###</dt>
			<dd class="detail-field">###FIELD_CADASTREMUNICIPALITY###</dd>
		</dl>
		<!-- ###HAS_CADASTREMUNICIPALITY### -->
		<!-- ###HAS_SECTION### -->
		<dl class="detail-section">
			<dt class="detail-label">###LABEL_FIELDHEADER_SECTION###</dt>
			<dd class="detail-field">###FIELD_SECTION###</dd>
		</dl>
		<!-- ###HAS_SECTION### -->
		<!-- ###HAS_NUMBER### -->
		<dl class="detail-number">
			<dt class="detail-label">###LABEL_FIELDHEADER_NUMBER###</dt>
			<dd class="detail-field">###FIELD_NUMBER###</dd>
		</dl>
		<!-- ###HAS_NUMBER### -->
		<!-- ###LOTS### -->
		<!-- ###COORDINATES### -->
		<dl class="detail-addressnumber">
			<dt class="detail-label">###LABEL_FIELDHEADER_COORDINATES###</dt>
			<dd class="detail-field">###FIELD_COORDINATES###</dd>
		</dl>
		<!-- ###COORDINATES### -->
		<!-- ###HAS_DOCUMENTS### -->
		<dl class="detail-documents">
			<dt class="detail-label">###LABEL_FIELDHEADER_DOCUMENTS###:</dt>
			<dd class="detail-field detail-doctype">
			<!-- ###DOCUMENTS### -->
				<p>###PERMIT_DOCUMENT###</p>
			<!-- ###DOCUMENTS### -->
			</dd>
		</dl>
		<!-- ###HAS_DOCUMENTS### -->
		<!-- ###DETAILS### -->
			<a class="btn-overview" href="###LINK_BACK###">###LABEL_RETURN###</a>
	</div>
</div>
<!-- ###PERMIT_DETAIL_VIEW### end -->

<!-- ###PERMIT_DOCUMENT_VIEW### begin -->
<div>
	<!-- ###PERMIT_DOCUMENT_DETAILS### -->
	<h3>###PERMIT_PRODUCTTYPE###</h3>
	<div class="label-documents-details">
		<dl class="doc-casereference">
			<dt class="doc-general-label">###LABEL_FIELDHEADER_CASEREFERENCE###</dt>
			<dd class="doc-general-field">###PERMIT_CASEREFERENCE###</dd>
		</dl>
		<dl class="doc-producttype">
			<dt class="doc-general-label">###LABEL_FIELDHEADER_PRODUCTTYPE###</dt>
			<dd class="doc-general-field">###PERMIT_PRODUCTTYPE###</dd>
		</dl>
		<dl class="doc-description">
			<dt class="doc-general-label">###LABEL_FIELDHEADER_DESCRIPTION###</dt>
			<dd class="doc-general-field">###PERMIT_DESCRIPTION###</dd>
		</dl>
		<dl class="doc-location">
			<dt class="doc-general-label">###LABEL_LOCATION###</dt>
			<dd class="doc-general-field">###PERMIT_LOCATION###</dd>
		</dl>
		<dl class="doc-appendix">
			<dt class="doc-general-label">###LABEL_FIELDHEADER_DOCUMENT###</dt>
			<dd class="doc-general-field">###PERMIT_DOCUMENT###</dd>
		</dl>
		<!-- ###PERMIT_DOCUMENT_DETAILS### -->
		<a class="btn-overview" href="###PERMIT_LINK###">###LABEL_RETURN###</a>
	</div>
</div>
<!-- ###PERMIT_DOCUMENT_VIEW### end -->

<!--

publication template

-->
<!-- ###PUBLICATION_LATEST_VIEW### begin -->
<div class="latest">
	<div class="records-available">
	<!-- ###RECORDS_AVAILABLE### -->
	<!-- ###HAS_MAPS### -->
	<div class="google_maps">###GOOGLE_MAPS###</div>
	<!-- / ###HAS_MAPS### -->
	<ul class="available-records">
		<!-- ###RECORDS### begin -->
		<li>###FIELD_WEEK### (###FIELD_PUBLISHDATE###): <a href="###FIELD_LINK###">###FIELD_TITLE### ###FIELD_ADDRESS###</a></li>
		<!-- ###RECORDS### end -->
	</ul>
	<!-- ###RECORDS_AVAILABLE### -->
	</div>
</div>
<!-- ###PUBLICATION_LATEST_VIEW### end -->

<!-- ###PUBLICATION_LIST_VIEW### begin -->
<div class="list">
	<!-- ###FILTER### begin -->
	<div class="###EXTKEYSHORT###_filter_topbox">
		<!-- ###DATE_FILTER### begin -->
		<ul class="years">
			<!-- ###YEARS### begin -->
			<li class="year_###ACTIVE###">###YEAR###</li>
			<!-- ###YEARS### end -->
		</ul>
		<ul class="months">
			<!-- ###MONTHS### begin -->
			<li class="month_###ACTIVE###">###MONTH###</li>
			<!-- ###MONTHS### end -->
		</ul>
		<!-- ###TEMPLATE_COMMENT### -->
		<ul class="weeks">
			<!-- ###WEEKS### begin -->
			<li class="week_###ACTIVE###">###WEEK###</li>
			<!-- ###WEEKS### end -->
		</ul>
		<!-- ###TEMPLATE_COMMENT### -->
		<!-- ###DATE_FILTER### end -->
	</div>
	<div class="###EXTKEYSHORT###_filter_sidebox">
		<form action="###ACTION###" method="POST" class="filter-sidebox-form">
		<fieldset><ul>
			<!-- ###FULLTEXT_FILTER### begin -->
			<li class="searchFullText">
					<input type="hidden" name="no_cache" value="1" />
					<input type="text" class="text" name="###EXTKEYSHORT###_controller[fulltext]" value="###VALUE###" />
			</li>
			<!-- ###FULLTEXT_FILTER### end -->
			<!-- ###PRODUCT_TYPE_FILTER### begin -->
			<li class="productType">
				<select class="select" name="###EXTKEYSHORT###_controller[productType]">
					<!-- ###PRODUCT_TYPES### begin -->
					<option value="###VALUE###" ###SELECTED###>###TITLE###</option>
					<!-- ###PRODUCT_TYPES### end -->
				</select>
			</li>
			<!-- ###PRODUCT_TYPE_FILTER### end -->
			<!-- ###PHASE_FILTER### begin -->
			<li class="phase">
				<span>Fase:</span>
				<!-- ###PHASE_OPTIONS### begin -->
				<label for="###ID###"><input type="checkbox" name="###EXTKEYSHORT###_controller[phase][###NAME###]" value="1" class="check" id="###ID###" ###CHECKED### />###TITLE###</label>
				<!-- ###PHASE_OPTIONS### end -->
			</li>
			<!-- ###PHASE_FILTER### end -->
			<!-- ###TERMTYPE_FILTER### begin -->
			<li class="termType">
				<select class="select" name="###EXTKEYSHORT###_controller[termType]">
					<!-- ###TERM_TYPES### begin -->
					<option value="###VALUE###" ###SELECTED###>###TITLE###</option>
					<!-- ###TERM_TYPES### end -->
				</select>
			</li>
			<!-- ###TERMTYPE_FILTER### end -->
			<!-- ###POSTCODE_FILTER### begin -->
			<li class="searchPostCode">
					<label>###LABEL###: </label>
					<input type="text" class="num text" name="###EXTKEYSHORT###_controller[postcodeNum]" value="###NUM_VALUE###" />
					<input type="text" class="alpha text" name="###EXTKEYSHORT###_controller[postcodeAlpha]" value="###ALPHA_VALUE###" />
			</li>
			<li>
					<label for="radius">###LABEL_RADIUS###:</label>
					<select class="select" id="radius" name="###EXTKEYSHORT###_controller[radius]">
						<!-- ###OPTIONS### begin -->
						<option value="###OPTION_VALUE###" ###OPTION_SELECTED###>###OPTION_TEXT###</option>
						<!-- ###OPTIONS### end -->
					</select> 
			</li>
			<!-- ###POSTCODE_FILTER### end -->
			<input class="submit" type="submit" value="###LABEL_SUBMIT###" />
			</ul></fieldset>
		</form>
	</div>
	<!-- ###FILTER### end -->

	<div class="records-available">
	<!-- ###RECORDS_AVAILABLE### -->
	<!-- ###HAS_MAPS### -->
	<div class="google_maps">###GOOGLE_MAPS###</div>
	<!-- / ###HAS_MAPS### -->
	<ul class="available-records">
		<!-- ###RECORDS### begin -->
		<li>###FIELD_WEEK### (###FIELD_PUBLISHDATE###): <a href="###FIELD_LINK###">###FIELD_TITLE### ###FIELD_ADDRESS###</a></li>
		<!-- ###RECORDS### end -->
	</ul>
	<!-- ###RECORDS_AVAILABLE### -->
	</div>
</div>
<!-- ###PUBLICATION_LIST_VIEW### end -->

<!--

publication template

-->
<!-- ###PUBLICATION_PUBLISHLIST_VIEW### begin -->
<div>
	<!-- ###RECORDS_AVAILABLE### begin -->
	<ul class="available-records">
		<!-- ###RECORDS### begin -->
		<li><a href="###FIELD_LINK###">(###FIELD_PUBLISHDATE###): ###FIELD_TITLE### ###FIELD_ADDRESS###</a></li>
		<!-- ###RECORDS### end -->
	</ul>
	<!-- ###RECORDS_AVAILABLE### end -->
</div>
<!-- ###PUBLICATION_PUBLISHLIST_VIEW### end -->

<!-- ###PUBLICATION_DETAIL_VIEW### begin -->
<div class="detail-view">
	<!-- ###DETAILS### -->
	<h3>###FIELD_TITLE###</h3>
	<div class="detail">
		<!-- ###HAS_PUBLISHDATE### -->
		<dl class="detail-publishdate">
			<dt class="detail-label">###LABEL_FIELDHEADER_PUBLISHDATE###</dt>
			<dd class="detail-field">###FIELD_PUBLISHDATE###</dd>
		</dl>
		<!-- ###HAS_PUBLISHDATE### -->
		<!-- ###HAS_TITLE### -->
		<dl class="detail-title">
			<dt class="detail-label">###LABEL_FIELDHEADER_TITLE###</dt>
			<dd class="detail-field">###FIELD_TITLE###</dd>
		</dl>
		<!-- ###HAS_TITLE### -->
		<!-- ###HAS_DESCRIPTION### -->
		<dl class="detail-description">
			<dt class="detail-label">###LABEL_FIELDHEADER_DESCRIPTION###</dt>
			<dd class="detail-field">###FIELD_DESCRIPTION###</dd>
		</dl>
		<!-- ###HAS_DESCRIPTION### -->
		<!-- ###ADDRESSES### -->
		<!-- ###HAS_ADDRESS### -->
		<dl class="detail-address">
			<dt class="detail-label">###LABEL_FIELDHEADER_ADDRESS###</dt>
			<dd class="detail-field">###FIELD_ADDRESS###</dd>
		</dl>
		<!-- ###HAS_ADDRESS### -->
		<!-- ###HAS_ZIPCODE### -->
		<dl class="detail-zipcode">
			<dt class="detail-label">###LABEL_FIELDHEADER_ZIPCODE###</dt>
			<dd class="detail-field">###FIELD_ZIPCODE###</dd>
		</dl>
		<!-- ###HAS_ZIPCODE### -->
		<!-- ###HAS_ADDRESSNUMBER### -->
		<dl class="detail-addressnumber">
			<dt class="detail-label">###LABEL_FIELDHEADER_ADDRESSNUMBER###</dt>
			<dd class="detail-field">###FIELD_ADDRESSNUMBER###</dd>
		</dl>
		<!-- ###HAS_ADDRESSNUMBER### -->
		<!-- ###HAS_ADDRESSNUMBERADDITIONAL### -->
		<dl class="detail-addressnumber-additional">
			<dt class="detail-label">###LABEL_FIELDHEADER_ADDRESSNUMBERADDITIONAL###</dt>
			<dd class="detail-field">###FIELD_ADDRESSNUMBERADDITIONAL###</dd>
		</dl>
		<!-- ###HAS_ADDRESSNUMBERADDITIONAL### -->
		<!-- ###ADDRESSES### -->
		<!-- ###HAS_MAPS### -->
		<div class="google_maps">###GOOGLE_MAPS###</div>
		<!-- / ###HAS_MAPS### -->
		<!-- ###TEMPLATE_COMMENT### -->
		<!-- ###HAS_CITY### -->
		<dl class="detail-city">
			<dt class="detail-label">###LABEL_FIELDHEADER_CITY###</dt>
			<dd class="detail-field">###FIELD_CITY###</dd>
		</dl>
		<!-- ###HAS_CITY### -->
		<!-- ###HAS_MUNICIPALITY### -->
		<dl class="detail-municipality">
			<dt class="detail-label">###LABEL_FIELDHEADER_MUNICIPALITY###</dt>
			<dd class="detail-field">###FIELD_MUNICIPALITY###</dd>
		</dl>
		<!-- ###HAS_MUNICIPALITY### -->
		<!-- ###HAS_PROVINCE### -->
		<dl class="detail-province">
			<dt class="detail-label">###LABEL_FIELDHEADER_PROVINCE###</dt>
			<dd class="detail-field">###FIELD_PROVINCE###</dd>
		</dl>
		<!-- ###HAS_PROVINCE### -->
		<!-- ###HAS_OBJECTCITY### -->
		<dl class="detail-object-city">
			<dt class="detail-label">###LABEL_FIELDHEADER_OBJECTCITY###</dt>
			<dd class="detail-field">###FIELD_OBJECTCITY###</dd>
		</dl>
		<!-- ###HAS_OBJECTCITY### -->
		<!-- ###HAS_OBJECTPROVINCE### -->
		<dl class="detail-object-province">
			<dt class="detail-label">###LABEL_FIELDHEADER_OBJECTPROVINCE###</dt>
			<dd class="detail-field">###FIELD_OBJECTPROVINCE###</dd>
		</dl>
		<!-- ###HAS_OBJECTPROVINCE### -->
		<!-- ###HAS_OBJECTCADASTREMUNICIPALITY### -->
		<dl class="detail-object-cadastre-municipality">
			<dt class="detail-label">###LABEL_FIELDHEADER_OBJECTCADASTREMUNICIPALITY###</dt>
			<dd class="detail-field">###FIELD_OBJECTCADASTREMUNICIPALITY###</dd>
		</dl>
		<!-- ###HAS_OBJECTCADASTREMUNICIPALITY### -->
		<!-- ###HAS_OBJECTCOORDINATES### -->
		<dl class="detail-objects-coordinates">
			<dt class="detail-label">###LABEL_FIELDHEADER_OBJECTCOORDINATES###</dt>
			<dd class="detail-field">###FIELD_OBJECTCOORDINATES###</dd>
		</dl>
		<!-- ###HAS_OBJECTCOORDINATES### -->
		<ul class="detail-documents">###LABEL_FIELDHEADER_DOCUMENTS###:
			<!-- ###DOCUMENTS### -->
			<li class="detail-label">###PERMIT_DOCUMENT### ###PERMIT_DOCUMENTTYPE###</li>
			<!-- ###DOCUMENTS### -->
		</ul>
		<!-- ###TEMPLATE_COMMENT### -->
		<!-- ###DETAILS### -->
		<a class="btn-overview" href="###LINK_BACK###">###LABEL_RETURN###</a>
	</div>
</div>
<!-- ###PUBLICATION_DETAIL_VIEW### end -->

</body>
</html>